<cfset myVar = "John Willis">
<cfoutput>
<cf_mumps>
 w "Hello, #myVar#!",!,!
 s contact=""
 f  s contact=$o(^phoneBook("Test Contact",contact)) q:contact=""  d
 . w contact,": ",^phoneBook("Test Contact",contact),!
 w !,$zro,!,!
 w $$myFunction("#myVar#"),!,!
 w $$otherFunction(1,1),!
 q
 ;
 ;
myFunction(v)
 q "myFunction: "_v
 ;
 ;
otherFunction(a,b)
 q a+b
</cf_mumps>
</cfoutput>