body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Arial';
    background-color: #efefef;
    font-size: 10pt;
}

header {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-color: #2658a2;
    background-image: url(/admin/images/cfmumps.png);
    background-repeat: no-repeat;
    background-position: left;
    width: 1023px;
    height: 141px;
}

header ul {
    list-style: none;
    float: right;
    margin-right: 20px;
    margin-bottom:0;
}

header ul li {
    display: inline-block;
    padding: 8px;
    margin-top: 90px;
    height: 40px;
}

header ul li a {
    font-weight: normal;
    text-decoration: none;
    color: #c0c0c0;
}

header ul li a:hover {
    color: white;
}

#wrapper {
    width: 1022px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    border-right: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    -webkit-box-shadow: 0px 0px 11px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 11px 1px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 11px 1px rgba(50, 50, 50, 0.75);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0 !important;

}

.content {
    width:100%;
}

.content-wrap {
    padding: 20px;
}

footer {
	margin: 0 !important;
    width: 1002px;
    background-color: #c0c0c0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 8pt;
    color: gray;
    clear: left;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

footer a {
    color: gray;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #7e9c66;
    font-weight: bold;
}

a:hover {
    color:#2658a2;
}

.row {
	margin: 4px;
	overflow: auto;
}

.left-column {	
	width: 250px;
	padding: 10px;
	float: left;
}

input[type="submit"] {
	display:inline-block;
	margin-top: 20px;
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:39px;
	line-height:29px;
	width:120px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
	
}

input[type="submit"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}

input[type="submit"]:active {
	position:relative;
	top:1px;
}


.right-column {
	padding: 4px;
	margin-left: 10px;
}

.notification-box {
	margin: 20px;
	padding: 10px 20px 20px 40px;
	border-radius: 5px;
	border: 1px solid rgb(170, 184, 198);
	background-color: rgb(252, 252, 252);
	background-image: url(/admin/images/information.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
	font-size: 10pt;
}

.notification-box div {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 10pt;
}

.login-panel {
	overflow: auto;
	padding: 40px;
	width: 500px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 5px;
	border: 1px solid rgb(170, 184, 198);
	background-color: rgb(252, 252, 252);
}

select {
	border: 1px solid rgb(170, 184, 198);
	padding: 4px;
	border-radius: 5px;
	background-color: rgb(252, 252, 252);
}

input[type="text"], input[type="password"] {
	border: 1px solid rgb(170, 184, 198);
	padding: 4px;
	border-radius: 5px;
}

.login-panel input {
	margin: auto;
	width: 100%;
}

fieldset {
	border: none;
	margin-top: 20px;
}

fieldset label {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 4px;
}

